{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "printWidth": 120
      }
    }
  ],
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "proseWrap": "always"
}